.Email__input {
    width: 100%;
    display: flex;
}

.Email__input input {
    width: 65%;
    padding: 18px 0;
    position: relative;
    outline: none;
    font-size: 20px;
}

.Email__input input::placeholder {
    text-align: left;
}

.Email__input_btn {
    width: 35%;
    padding: 18px 0;
    border: none;
    outline: none;
    color: white;
    background-color: #e50914;
    cursor: pointer;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

.Email__input_btn:hover {
    background-color: #be1720;
}

@media screen and (max-width: 1300px) {
    .Email__input_btn {
        font-size: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .Email__input {
        flex-direction: column;
        align-items: center;
    }
    .Email__input input {
        width: 100%;
        padding: 15px 0;
    }
    .Email__input_btn {
        padding: 10px 0;
        font-size: 18px;
        letter-spacing: 1.5px;
        margin-top: 18px;
    }
}

@media screen and (max-width: 900px) {
    .Email__input input {
        padding: 12px 0;
    }
    .Email__input_btn {
        padding: 15px 0;
        font-size: 13px;
        letter-spacing: 1.2px;
        margin-top: 18px;
    }
}