.signIn {
    display: flex;
    flex-direction: column;
    min-height: 660px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    max-width: 450px;
    padding: 60px 68px 150px;
    margin-bottom: 100px;
}

.signIn__form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
}

.signIn_btn {
    background: #e50914;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    margin: 24px 0 12px;
    padding: 16px;
    border: 0;
    outline: none;
    color: white;
    cursor: pointer;
}

.signIn__form input {
    background: #333;
    border-radius: 4px;
    border: 0;
    outline: none;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.signIn__form input:last-of-type {
    margin-bottom: 30px;
}

.signIn h1 {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 28px;
}

.signIn__form input::placeholder {
    color: #737373;
    font-size: 16px;
    font-weight: 500;
}

.rememberMe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    line-height: normal;
    color: #8c8c8c;
    margin-bottom: 50px;
}

.rememberMe div {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    /* transform: translateY(px); */
    margin-right: 4px;
    background: #8c8c8c;
}

.facebook {
    display: flex;
    align-items: center;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 400;
}

.facebook p {
    cursor: pointer;
}

.facebook__logo {
    height: 22px;
    margin-right: 10px;
}

.newToNetflix {
    margin: 17px 0;
}

.newToNetflix span:first-child {
    color: #8c8c8c;
    letter-spacing: 1.1;
}

.newToNetflix>a {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}

.newToNetflix>a:hover {
    text-decoration: underline;
}

.info p {
    color: #8c8c8c;
    font-size: 12px;
    display: inline;
}

.info a {
    font-size: 14px;
    text-decoration: none;
    margin-left: 3px;
}

.info a:hover {
    text-decoration: underline;
}

.error {
    background: #e87c03;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 0 23px;
    color: white;
    padding: 15px 20px;
}

.error__close {
    font-size: 30px;
    cursor: pointer;
    display: block;
}

@media screen and (max-width: 600px) {
    .signIn {
        max-width: 100%;
        padding: 50px 35px 150px;
    }
    .signIn__form {
        max-width: 100%;
    }
}